<html>
<head>
<meta charset="UTF-8" />
<title>Highcharts 教程 | 菜鸟教程(runoob.com)</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<link rel="stylesheet" href="../css/pintuer.css">
<script language="JavaScript">
$(function() {  
	
	var perCountWoman= [[${perCountWoman}]];
	var perCountMan= [[${perCountMan}]];
	var perUnknownSex= [[${perUnknownSex}]];
	
   var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false
   };
   var title = {
      text: '社团男女比例'   
   };      
   var tooltip = {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
   };
   var plotOptions = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };
   var series= [{
      type: 'pie',
      name: 'Browser share',
      data: [
        
         
         ['男', perCountMan],
         ['未填写',perUnknownSex],
         ['女', perCountWoman],
      ]
   }];     
      
   var json = {};   
   json.chart = chart; 
   json.title = title;     
   json.tooltip = tooltip;  
   json.series = series;
   json.plotOptions = plotOptions;
   $('#container').highcharts(json);  
});
</script>
</head>
<body>

<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>

<table class="table table-hover text-center">
<tr>
<td>男</td><td>女</td><td>未填写</td><td>总数</td>
</tr>
<tr>
<td th:text="${countMan}+' 人'">
</td>
<td th:text="${countWoman}+' 人'" >
</td>
<td th:text="${unknownSex}+' 人'">
</td>
<td th:text="${sumUser}+' 人'">
</td>
</tr>
</table>


</body>
</html>