<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注册成功页面</title>
<link rel="stylesheet" href="../css/reg.css">
</head>
<body>
  
  
  <div class="main">
			
			<div class="line1"></div>
			<div class="second"></div>
			<div class="third2">
				<div class="head">提示信息</div>
				
					<table class="tableb">
						<tbody><tr>
							<td>
								恭喜：注册成功！
								<a th:href="toLogin">进入登录页面&gt;&gt;</a>
							</td><td>
							
						</td></tr>
						
					</tbody></table>
				
			</div>
			<div class="line2"></div>
			<div class="end">
				青软实训&桂林航天工业学院 2017070030310 卢松 © 版权所有
			</div>
		</div>
</body>
</html>