<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>找回密码页面</title>

<link rel="stylesheet" href="../css/pintuer.css">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/amazeui.css" rel="stylesheet" type="text/css">
<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/systyle.css" rel="stylesheet" type="text/css">
<link href="../css/infstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../css/reg.css">

<script src="../js/jquery-3.5.1.js"></script>


</head>
<body ><div class="main">

			<div class="third">
<div class="head">忘记密码</div>
		<div class="info-main">
		<form action="forgotPwd" method="post">
		
		<div class="am-form-group">
				<label class="am-form-label">我们已向您账号绑定的邮箱发送验证码，请留意查收</label>
		
			</div>
			<div class="am-form-group">
				<label class="am-form-label">验证码</label>
				<div class="am-form-content">
					<input type="text" name="yzmforPwd" id="yzmforPwd" >
					&nbsp;&nbsp;&nbsp;
				</div>
			</div>
				
				<button class="button bg-main icon-check-square-o" type="submit">提交</button><br/><br/>
		</form>
		<h3 th:text="${msg}" style="color: red"></h3><br/>
		</div>
		</div>
		<div class="line2"></div>
			<div class="end">
				青软实训&桂林航天工业学院 2017070030310 卢松 © 版权所有
			</div>
</div>

</html>